.gcloudignore
.gitignore
Dockerfile
app.yaml
bible.key
deepthoughts
deploy.sh
discord.channelID
discord.surfChannelID
discord.test.token
discord.logChannelID
discord.token
giphy.key
jb2
joebot.yaml
keys
noaa.key
scratch.txt
scratch/
tenor.key
token
youtube.key
bin
infra/
reddit.ua.string
discord.tokenold
openAi.key
btServer_key.pem
btServerAzureFunction.key